@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(340deg, #DDEBFF, #1756B3);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar_log_sign {
    display: flex;
    flex-direction: row;
    border-radius: 6px 6px 0px 0px;
    justify-content: space-between;
    box-shadow: 0px -4px 20px;
    align-items: center;
    background-color: #1756B3;
    width: 100%;
    height: 7%;
}

.logo_title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0px 0px 0px 30px;
    width: 150px;
    height: 30px;
    gap: 10px;
}

.logo {
    background-color: #ffffff;
    border-radius: 15px;
    width: 30px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.analytics {
    width: 30px;
    position: absolute;
    right: 7%;
}

#user {
    width: 30px;
    position: absolute;
    right: 10%;
}

.title {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    position: absolute;
    left: 5.5%;
    top: 1.8%;
}

.header .logo span:first-child {
    background-color: white;
    color: #1967d2;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 10px;
    font-weight: bold;
}

.header .profile img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

@keyframes fillAnimation {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.user-info {
    width: 250px;
    height: 250px;
    z-index: 2;
    background-color: white;
    position: absolute;
    right: 5%;
    top: 7%;
    opacity: 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    transition: opacity 0.3s;
}

.main-content .tasktrace {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3.8rem;
    color: transparent;
    position: absolute;
    top: 17.8%;
    left: 12%;
    background: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: fillAnimation 3s ease-in-out forwards;
    animation-delay: 0.3s;
    visibility: hidden;
}

.main-content .tasktrace.visible {
    visibility: visible;
    color: white;
    background: none;
}

.stroke {
    position: absolute;
    top: 18.2%;
    left: 12%;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 3.8rem;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.main-content img {
    width: 500px;
    position: absolute;
    top: 20.2%;
    right: 10%;
    -webkit-transform: scaleX(-1);
}

.batch-list {
    border: 1px solid rgb(255, 255, 255);
    padding: 13px 50px 13px 210px;
    position: absolute;
    text-decoration: none;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    bottom: 42%;
    color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    background-color: rgba(red, green, blue, alpha);
    left: 12%;
}

.assign-task {
    color: white;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 13px 195px 13px 50px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    position: absolute;
    bottom: 31%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    left: 12%;
}

.history {
    color: white;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 13px 50px 13px 230px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    position: absolute;
    bottom: 20.5%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    left: 12%;
}

#fullname{
    /* position: absolute; */
    margin-top: 30%;
    text-align: center;
    color: red;
}

#email{
    text-align: center;
}

#role{
    text-align: center;
}

#signout{
    text-decoration: none;
    margin-left: 35%;
    background-color: #1756B3;
    color: white;
    padding: 7px 8px;
    border-radius: 6px;
}